.ipynb_checkpoints
yaml_str.ipynb

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Django
db.sqlite3


# Environment variables
.env

# Local development files
.vscode/
.idea/
.DS_Store



# Virtual environments
venv


# Migrations
*/migrations/*




